In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import matplotlib.mlab as mlab

In [4]:
import matplotlib.pyplot as plt

In [5]:
import numpy as np

In [6]:
import sklearn
from sklearn import svm

In [32]:
from datetime import date

In [7]:
hotels1 = pd.read_csv('/Users/ekaar/Downloads/hotel_data copy/hotel_data copy/hotels1.csv')

In [8]:
hotels1.head()

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights
0,0,Resort Hotel,0,342,2015,July,27,1,0,0
1,1,Resort Hotel,0,737,2015,July,27,1,0,0
2,2,Resort Hotel,0,7,2015,July,27,1,0,1
3,3,Resort Hotel,0,13,2015,July,27,1,0,1
4,4,Resort Hotel,0,14,2015,July,27,1,0,2

In [9]:
hotels1.columns

Index(['reservation_id', 'hotel', 'is_canceled', 'lead_time',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights'],
      dtype='object')

In [10]:
len(hotels1)

500

In [11]:
len(hotels1.columns)

10

In [12]:
hotels2 = pd.read_csv('C:/Users/ekaar/Downloads/hotel_data copy/hotel_data copy/hotels2.csv')

In [13]:
# Change column names to all caps lower

In [14]:
hotels2.columns.str.lower()

Index(['reservation_id', 'adults', 'children', 'babies', 'meal', 'country',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'agent', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [15]:
# merge dataset

In [16]:
hotels=pd.merge(hotels1,hotels2,on='reservation_id')

In [17]:
hotels.head()

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,booking_changes,deposit_type,Agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Reservation_Status,reservation_status_date
0,0,Resort Hotel,0,342,2015,July,27,1,0,0,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,Resort Hotel,0,737,2015,July,27,1,0,0,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,2,Resort Hotel,0,7,2015,July,27,1,0,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,3,Resort Hotel,0,13,2015,July,27,1,0,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,4,Resort Hotel,0,14,2015,July,27,1,0,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [18]:
#Drop duplicate rows

In [19]:
hotels.drop_duplicates()

,reservation_id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,booking_changes,deposit_type,Agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Reservation_Status,reservation_status_date
0,0,Resort Hotel,0,342,2015,July,27,1,0,0,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,1,Resort Hotel,0,737,2015,July,27,1,0,0,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,2,Resort Hotel,0,7,2015,July,27,1,0,1,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,3,Resort Hotel,0,13,2015,July,27,1,0,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,4,Resort Hotel,0,14,2015,July,27,1,0,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,Resort Hotel,0,92,2015,July,29,17,1,2,...,3,No Deposit,240.0,0,Transient,103.50,1,3,Check-Out,2015-07-20
496,496,Resort Hotel,0,91,2015,July,29,17,1,2,...,3,No Deposit,240.0,0,Transient,118.50,0,3,Check-Out,2015-07-20
497,497,Resort Hotel,0,38,2015,July,29,17,1,2,...,1,No Deposit,240.0,0,Transient,192.00,0,1,Check-Out,2015-07-20
498,498,Resort Hotel,0,6,2015,July,29,17,1,2,...,0,No Deposit,142.0,0,Contract,128.27,0,0,Check-Out,2015-07-20
499,499,Resort Hotel,0,38,2015,July,29,17,1,2,...,0,No Deposit,240.0,0,Transient,135.00,0,0,Check-Out,2015-07-20

In [20]:
# Create a date column (month-day-year) combining month, day, year columns

In [30]:
hotels.columns = hotels.columns.str.replace('','','')

In [38]:
hotels['Datetime']=pd.to_datetime(hotels[['year','month','day']])

KeyError: "None of [Index(['year', 'month', 'day'], dtype='object')] are in the [columns]"